<div class="span9">
	<div class="page-header">
		<h1>Meet the Committee</h1>
	</div>
	<ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
            <img src="/assets/img/committee/michael.jpg" alt="Michael">
            <div class="caption">
              <h5>Michael Burgess (President)</h5>
              <p style="height: 110px">Michael is a 4th Year MPhys Physics Student. He has previously been Vice President and Director of Training, as well as having occupied positions on the committees of international and national charities and student organizations. </p>
              <p>president@leedsdebatingunion.com</p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="/assets/img/committee/ruby.jpg" alt="Ruby">
            <div class="caption">
              <h5>Ruby Lott-LaVigna (Vice President)</h5>
              <p style="height: 110px">Ruby likes long walks on the beach and the sound of rain on the window pane. 
              She studies BA English literature and has been debating since she started university, regretting it ever since. 
              </p>
              <p>vicepresident@leedsdebatingunion.com</p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="/assets/img/committee/mat.jpg" alt="">
            <div class="caption">
              <h5>Matthew Manning (Treasurer)</h5>
              <p style="height: 110px">Matt is a 3rd year MEng Mechanical Engineering Student. 
              He has been a keen member of LDU for the past two years and has competed in many competitions across the UK.</p>
				<p>treasurer@leedsdebatingunion.com</p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="/assets/img/committee/sophie.jpg" alt="">
            <div class="caption">
              <h5>Sophie Collins (Director of Membership)</h5>
              <p style="height: 110px">Sophie is a second year BA English and Philosophy student. 
              She started debating in her first term of university and has been involved ever since she likes long walks in the park, red wine and being cheeky.</p>
				<p>membership@leedsdebatingunion.com</p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="/assets/img/committee/hilary.jpg" alt="">
            <div class="caption">
              <h5>Hilary Tan (Director of Public Speaking)</h5>
              <p style="height: 110px">Hilary is a 3rd Year student with no history or place in the universe, her negligence and lethargy combine 
              destructively to leave her without a biography - or story of any kind.</p>
				<p>events@leedsdebatingunion.com</p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="/assets/img/committee/chris.jpg" alt="">
            <div class="caption">
              <h5>Chris Jaffray (Director of Publicity)</h5>              
              <p style="height: 110px">Chris is a third year BA English Language and Literature Student. 
              He has debated at school and in Leeds Debating Union for two years.</p>
				<p>publicity@leedsdebatingunion.com</p>            </div>
          </div>
        </li>
      </ul>
</div>