<div class="span9">
	<div class="page-header">
		<h1>Contact Us</h1>
	</div>
	<h2>By Email</h2>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Purpose</th>
				<th>EMail</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>General Inquires</td>
				<td>info@leedsdebatingunion.com</td>
			</tr>
			<tr>
				<td>Administrative Questions</td>
				<td>secretary@leedsdebatingunion.com</td>
			</tr>
			<tr>
				<td>Schools or Community Inquiries</td>
				<td>community@leedsdebatingunion.com</td>
			</tr>
			<tr>
				<td>Social Event</td>
				<td>socials@leedsdebatingunion.com</td>
			</tr>
			<tr>
				<td>Membership Concerns or Questions</td>
				<td>membership@leedsdebatingunion.com</td>
			</tr>
			<tr>
				<td>Financial Queries</td>
				<td>treasurer@leedsdebatingunion.com</td>
			</tr>
			<tr>
				<td>Public Events</td>
				<td>events@leedsdebatingunion.com</td>
			</tr>
			<tr>
				<td>Publicity and Media</td>
				<td>publicity@leedsdebatingunion.com</td>
			</tr>
			<tr>
				<td>Training</td>
				<td>training@leedsdebatingunion.com</td>
			</tr>
			<tr>
				<td>British Parliamentary Events (Leeds IV/Open, YNC, etc.)</td>
				<td>debating@leedsdebatingunion.com</td>
			</tr>
		</tbody>		
	</table>
	<h2>By Mobile</h2>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Person</th>
				<th>Number</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>The President, Michael Burgess (Priority Questions and Concerns)</td>
				<td>07504357990</td>
			</tr>
			<tr>
				<td>Vice President, Ruby Lott-LaVigna (Communities and Administrative Questions)</td>
				<td>07828788052</td>
			</tr>
			<tr>
				<td>Treasurer, Matt Manning (Financial Questions)</td>
				<td>07507563116</td>
			</tr>
			<tr>
				<td>Director of Membership, Sophie Collins (Social Events, Membership Issues)</td>
				<td>07587104007</td>
			</tr>
			<tr>
				<td>Director of Public Speaking, Hilary Tan (Public Events)</td>
				<td>07429348039</td>
			</tr>
			<tr>
				<td>Director of Publicity, Chris Jaffray (Media and Publicity)</td>
				<td>07771986692</td>
			</tr>
		</tbody>		
	</table>
</div>