<div class="span9">
	<div class="page-header">
		<h1>News</h1>
	</div>
	<p>Content will appear here soon.</p>
	<div class="page-header">
		<h1>Achievements</h1>
	</div>
	<h2>2011 - 2012</h2>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Achievement</th>
				<th>Awarded To</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Sheffield Semi Finalists and Finalists </td>
				<td>Michael Burgess & Stefano Imbriano</td>
			</tr>
			<tr>
				<td>Lancaster Semi Finalists and Finalists</td>
				<td>James Wood & Stefano Imbriano</td>
			</tr>
			<tr>
				<td>Manchester Quarter Finalist</td>
				<td>James Wood</td>
			</tr>
			<tr>
				<td>Nottingham Open Semi Finalist and Finalist</td>
				<td>Stefano Imbriano</td>
			</tr>
			<tr>
				<td>Reading Open 2012 Finalist</td>
				<td>James Wood</td>
			</tr>
			<tr>
				<td>Montgomery Cup (Leeds Leg) Winners</td>
				<td>Michael Burgess & Oliver Duggan; Stefano Imbriano & James Woods</td>
			</tr>
			<tr>
				<td>Durham Schools 2012  Semi-Final Judging Panellist</td>
				<td>Stefano Imbriano</td>
			</tr>
			<tr>
				<td>Durham Schools 2012 Open Quarter Chair Judge</td>
				<td>John Taylor</td>
			</tr>
			<tr>
				<td>Lancaster IV Semi Final and Final judging panellist</td>
				<td>John Taylor</td>
			</tr>
			<tr>
				<td>Sheffield Semi Final judging panellist</td>
				<td>John Taylor</td>
			</tr>
			<tr>
				<td>Leeds IV Semi-Finalist judging panellist</td>
				<td>John Taylor & Michael Burgess</td>
			</tr>	
			<tr>
				<td>Leeds IV Finalist Judging panellist</td>
				<td>John Taylor</td>
			</tr>			
		</tbody>		
	</table>
	
	<h2>2010 - 2011</h2>
		<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Achievement</th>
				<th>Awarded To</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Reached 100 Members</td>
				<td>LDU Committee</td>
			</tr>
			<tr>
				<td>Rose 22 Places in the EU rankings</td>
				<td>Michael Burgess & Stefano Imbraino; <br/>Ben Mulvihill & Bram Dehaene; <br/>Hannah Townsend & Laurence Hooper</td>
			</tr>
			<tr>
				<td>Sheffield Semi-Finalists</td>
				<td>Michael Burgess & Stefano Imbriano</td>
			</tr>
			<tr>
				<td>Manchester Quarter Finalists</td>
				<td>Michael Burgess & Stefano Imbriano</td>
			</tr>
			<tr>
				<td>Hull Final Judging Panelists</td>
				<td>Vitnija Saldava & John Taylor</td>
			</tr>
			<tr>
				<td>Glamorgan Open Finalist</td>
				<td>James Wood</td>
			</tr>
			<tr>
				<td>Aberystwyth Open Finalist</td>
				<td>James Wood</td>
			</tr>
		</tbody>		
	</table>
</div>