<div class="span9">
	<div class="page-header">
		<h1>Meet the Committee</h1>
	</div>
	<ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
            <img src="/assets/img/committee/michael.jpg" alt="Michael">
            <div class="caption">
              <h5>Michael Burgess (President)</h5>
              <p style="height: 110px">Michael is a 4th Year MPhys Physics Student. He has previously been Vice President and Director of Training, as well as having occupied positions on the committees of international and national charities and student organizations. </p>
              <p>president@leedsdebatingunion.com</p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="/assets/img/committee/ruby.jpg" alt="Ruby">
            <div class="caption">
              <h5>Ruby Lott-LaVigna (Vice President)</h5>
              <p style="height: 110px">Ruby is a 2nd Year BA English Student.</p>
              <p>vicepresident@leedsdebatingunion.com</p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="/assets/img/committee/mat.jpg" alt="">
            <div class="caption">
              <h5>Matthew Manning (Treasurer)</h5>
              <p style="height: 110px">Matthew is a 3rd Year BSc Student.</p>
				<p>treasurer@leedsdebatingunion.com</p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="/assets/img/committee/sophie.jpg" alt="">
            <div class="caption">
              <h5>Sophie Collins (Director of Membership)</h5>
              <p style="height: 110px">Sophie is a 2nd Year BA English and Philosophy student.</p>
				<p>membership@leedsdebatingunion.com</p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="/assets/img/committee/hilary.jpg" alt="">
            <div class="caption">
              <h5>Hilary Tan (Director of Public Speaking)</h5>
              <p style="height: 110px">Hilary is a 3rd Year BA student.</p>
				<p>events@leedsdebatingunion.com</p>
            </div>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail">
            <img src="/assets/img/committee/chris.jpg" alt="">
            <div class="caption">
              <h5>Chris Jaffray (Director of Publicity)</h5>              
              <p style="height: 110px">Chris is a 3rd Year BA student.</p>
				<p>publicity@leedsdebatingunion.com</p>            </div>
          </div>
        </li>
      </ul>
</div>