<div class="span9">
          <div class="hero-unit">
            <h1>Welcome</h1>
            <p>We provide an open forum for discussion for members of LUU and the Leeds Community, promoting critical thinking, open discussion, free speech and uncensored debate. 
            Training is available and opportunities for debating and public speaking. LDU have a national and international reputation for excellence. </p>
            <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          </div>
          
          <div class="row-fluid">
            <div class="span4">
              <h2>Our Reputation</h2>
              <p>Our members have travelled across the world from europe to south-east asia to deliever debating training and to take part in internation competitions.
               We have a history of success at many national and international competitions with our best speakers reaching finals and semi-finals of large prestigous competitions.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <div class="span4">
              <h2>Our Training</h2>
              <p>Debating, as a discipline, gives you skills that your degree demands yet cannot focus on. 
              Our members are taught to argument construction, deconstruction, structure and analysis. 
              Without expection, our members have improved their seminar contributions and essay marks due to our training.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <div class="span4">
              <h2>Our Meetings</h2>
              <p>We meet every thursday and tuesday, where we train members in workshops and seminars then run a debate. 
              Debates are judged by our senior members with years of professional training and speaking experience. 
              </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            
          </div>
          
          <div class="row-fluid">
          <div class="span4">
              <h2>How</h2>
              <p>Debating asks our members to engage with the varied facets public speaking: clarity of expression, phonology, tempo, rhetoric and argumentation. 
              Skills our members find invaluable in later life. 
              We teach diverse topics from the ethics of euthanasia to humanitarian intervention, emphasising the presentation of meaningful content in an engaging way.</p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <div class="span4">
              <h2>Why</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
            <div class="span4">
              <h2>What</h2>
              <p>
              We hold internal and public debates, invite speakers and campaign to protect our right to freedom of expression on campus.
              Our schools and community program send speakers across Leeds and Yorkshire promote debate and public speaking outside the Universities.  
              </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>            
          </div>
        </div>