<div class="span3">
<div style="margin: 0 0 10% 0"><a href="/"><img src="/assets/img/logo.jpg" width="280px"/></a></div>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Information</li>
      <li><a href="#info.committee">The Committee</a></li>
      <li><a href="#info.events">Events Calendar</a></li>
      <li><a href="#info.news">News and Achievements</a></li>
      <li><a href="#info.community">Schools and Community</a></li>
      <li class="nav-header">Next Steps</li>
      <li><a href="#info.join">Join LDU</a></li>
      <li><a href="#info.contact">Contact Us</a></li>
      <li class="nav-header">For Friends</li>
      <li><a href="#friends.openiv">Leeds Open (IV)</a></li>
      <li><a href="#friends.ync">Yorkshire Novice Cup</a></li>
      <li><a href="#school.sghs">Skipton Girls</a></li>
      <li class="nav-header">For Members</li>
      <li><a href="#members.socials">Socials</a></li>
      <li><a href="#members.resources">Training & Resources</a></li>
      <li><a href="#members.eudc">Euros (EUDC)</a></li>
      <li><a href="#members.fundingreq">Funding Request</a></li>
      <li><a href="#members.rank">Selection Ranking</a></li>
      <li><a href="#members.competition">Competition Registration</a></li>
      <li><a href="#members.feedback">Suggestions and Feedback</a></li>
    </ul>
  </div>
  <div style="padding:1em">
   <div style="padding:1em"><a href="https://www.facebook.com/groups/leedsdebatingunion/"><img src="/assets/img/fb.jpg" /></a></div>
   <div style="padding:1em"><a href="http://www.leedsuniversityunion.org.uk/"><img src="/assets/img/luu.png" /></a></div>
   <div style="padding:1em"><a href="http://www.britishdebate.com/"><img src="/assets/img/bd.jpg" /></a></div>
  </div>
</div>