<div class="span3">
<div style="margin: 0 0 10% 0"><a href="/"><img src="/assets/img/logo.jpg" width="280px"/></a></div>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Information</li>
      <li><a href="#committee">The Committee</a></li>
      <li><a href="#openiv">Leeds Open (IV)</a></li>
      <li><a href="#ync">Yorkshire Novice Cup</a></li>
      <li><a href="#events">Events Calendar</a></li>
      <li><a href="#news">News and Achievements</a></li>
      <li><a href="#community">Schools and Community</a></li>
      <li class="nav-header">Next Steps</li>
      <li><a href="#join">Join LDU</a></li>
      <li><a href="#contact">Contact Us</a></li>
      <li class="nav-header">For Members</li>
      <li><a href="#socials">Socials</a></li>
      <li><a href="#training">Training</a></li>
      <li><a href="#resources">Resources</a></li>
      <li><a href="#fundingreq">Funding Request</a></li>
      <li><a href="#rank">Selection Ranking</a></li>
      <li><a href="#competition">Competition Registration</a></li>
      <li><a href="#feedback">Suggestions and Feedback</a></li>
    </ul>
  </div>
  <div style="padding:1em">
   <div style="padding:1em"><a href="https://www.facebook.com/groups/leedsdebatingunion/"><img src="/assets/img/fb.jpg" /></a></div>
   <div style="padding:1em"><a href="http://www.leedsuniversityunion.org.uk/"><img src="/assets/img/luu.png" /></a></div>
   <div style="padding:1em"><a href="http://www.britishdebate.com/"><img src="/assets/img/bd.jpg" /></a></div>
  </div>
</div>