<div class="span9">
	<div class="page-header">
		<h1>Euros: The Selection Process</h1>
	</div>
	<p>To compete at Euros you need to be registered and backed by an eligible institution, such as Leeds Debating Union. 
	There are three team places available and three judging slots.</p>
	
	<p>Since there are more candidates than places, we have drawn up a 
	selection procedure which will identify two things: </p>
	
	<ol>
	<li>Which members will be able to go as representatives of LDU.</li>
	<li>Who will be (partially) funded to go.</li>
	</ol>
	
	<p>Funding allocation will depend on your final "bucket" which is a score given to you <em>relative</em> to other members competing.</p>
	<p>The final score is comprised from five numbers, each out of one hundred.</p> 
	<p> In order of importance:</p>
	
	<ol>
		<li>Tab Median: a measure of your past IV performance.</li>
		<li>Trial Average: a measure of your performance at trials (see below).</li>
		<li>Consistency: a measure of how much your speaks range over IVs and trials.</li>
		<li>Service: how much time and effort you have invested in imporving the society.</li>
		<li>Reputation: your ability to represent the soceity positively.</li>
	</ol>
	
	<p>To allow us to calculate your score in each of these areas you need to supply us with some information. 
	It is important that your read the criteria below so that you are able to prepare the best application possible.</p>
	
	<div class="page-section">
	<h2>Tab Median</h2>
	<p>We require a list of <strong>some</strong> of the IVs you have attended as a member of an institutional team.</p>
	<p>We require one competition from (Sept - Dec 2011) and one from (Jan - May 2012): you are free to choose which competitions. 
	We are aware this may privilege people who go to many competitions (and thus have many tabs from which to chose), however this is a meritocratic measurement,
	and therefore entirely consistent with its purpose.</p>
	</div>
	
	<div class="page-section">
	<h2>Trial Average</h2>
	<p>You need to attend the LDU trials on <strong>May 13th</strong> at 12pm in Meeting Room 4 (Union Building). </p>
	<p>Trials will end at 6pm and will consist of <strong>three</strong> rounds:</p>
	
	<ol>
	<li>Team Preference Allocation - speakers will be allocated according to euros team.</li>
	<li>Power Pair Allocation - based on the results from Rd1, the top two speakers will pair, then the 3rd and 4th and so on.</li>
	<li>Folded Speaker Allocation  - based on the results from Rd2, the highest-speaks speaker teams with the lowest and pairing likewise down the list.</li>
	</ol>
	
	<p>Each round is designed to provide some fair representation of a speaker's ability. In round one we examine how well euros teams will fair; 
	in round two we provide an opportunity for the best speakers to get the highest they can achieve; finally we provide an opportunity for the lowest-rated speakers to improve their score. 
	In each case we identify some how well a person performs: in like-teams, in power-teams, in euros-teams.</p>
	<p>The trial process is designed to produce a speaker point average which accurately reflects the ability of a speaker, with some consideration as to the team they will
	be competining in.</p>
	<p><strong>Before trials you need to provide:</strong> a preference list ranking members you would like to speak with. </p>
	<p>Your first preference will be awarded three points, your second two and your third one. We will then calculate what the highest scoring pairing is for <em>all speakers</em>.
	If A choses (B, C, D); B choses (A, D, C); C choses (A, B, D) and D choses (B, A, C) the allocation with the highest score is AC, BD (= 5 + 5) 
	therefore even though A placed B first and vice versa their pairing is not gaurenteed (AB, DC = 6 + 2)</p>
	</div>
	
	<div class="page-section">
	<h2>Consistency</h2>
	<p>This will be automatically calculated from your trial performance and the two tabs you have supplied us.</p>
	</div>
	
	<div class="page-section">
	<h2>Service</h2>
	<p>Please provide a CV (or "list") of activities you have assisted with which has benefited the society.</p>
	<p>There are no restrictions on what the list may contain, therefore committee members <em>will likely</em> score higher than others, 
	however this seems consistent with the principle of this metric, which is to measure dedication and service.</p>
	</div>
	
	<div class="page-section">
	<h2>Reputation</h2>
	<p>Please provide a personal statement of no more than five hundred words. This personal statement should highlight the areas where you have
	been nice, welcoming and a Good Person, or at least emphasise the qualities which indicate to a reader that you would be a good representative of LDU.</p>
	<p>We will also release membership records from Sept 2011 - May 2012 to the independent reviewer, which may indicate warnings or disciplinaries. 
	<p><strong>NB:</strong> There have been no warnings or disciplinaries during this period so far, but it seems appropriate for the general case.</p>	
	</div>
	
	<div class="page-header">
		<h1>In Review</h1>
	</div>
	<p>We will soon release a form for submitting the above information, for now you may want to collect it so that you can submit asap.</p>
	<p>We expect,</p>
	<ul>
		<li>The names of two competitions</li>
		<li>Attendance at the May 13th Trial</li>
		<li>A Service-CV</li>
		<li>A Personal Statement</li>
	</ul>
	
	<p> This information is due by <strong>Tuesday May 15th</strong>. Please ensure it conforms to the rules and guidelines above, 
	or else you may potentially be disqualified from the process. 
	Results will be announced on <strong>Thursday May 17th</strong>, 
	with a pdf version of all the collected data and information with relevant scores published <strong>May 21st</strong> 
	(potentially with personalized printed copies available for collection). </p>
	
	<p><strong>You may want to visit</strong> <a href="/#rank">Our Score Calculator</a>. You can play around with a few values and learn more about what they mean.</p>
	
 </div>

 